/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 45px 20px;
  background: #EDEDED;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 1em;
  background: white;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.pure-menu-children {
  background: #2D2D2D;
  color: white;
}

.pure-menu-children .pure-menu-item {
  padding-top: 10%;
  text-align: center;
}

.navbar a {
  color: #2D2D2D;
}

.pure-menu-children .pure-menu-item .pure-menu-link {
  color: white;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #2D2D2D;
  color: white
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.pull-right {
  float: right;
}

.content {
  padding-top: 2em;
}

.sub-menu {
  background-color: #E0E0E0;
}

.home-container {
  height: 60vh;
  background-color: #232C42;
  background-image: url("../../public/diagmonds.png");
  text-align: center;
}

.home-container h1 {
  color: white;
  font-size: 2em;
}

.home-container h2 {
  color: white;
  font-size: 1em;
  margin-top: 1%;
}

.logo {
  padding-top: 2em;
  height: 50%;
}

.logo-holder {
  height: 100%;
  width: 100%;
}

.icon {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.requester-container {
  text-align: center;
}

.requester-container h1{
  color: white;
  font-size: 3em;
}

.requester-form {
  text-align: center;
}

.requester-form-entry {
  text-align: center !important;
  margin: 0 auto !important;
  margin-bottom: 1em !important;
  width: 250px;
  color: black;
}

.requester-deploy-form-entry {
  text-align: center !important;
  color: black;
  height: 100%;
  margin-right: 1em;
}

.requester-deploy-button {
  height: 100%;
}

.requester-button {
  font-size: 150%;
  position: absolute;
  width: 300px;
  height: 60px;
  margin-left: -150px;
  bottom: 10px;
  background-color: #38bf7b;
}

.requester-table {
  margin: 0 auto;
  margin-top: 1em;
  width: 90%;
  height: 25em;
  overflow: hidden;
  table-layout: fixed;
  /*display: table;*/
  text-align: left;
  border: 1px solid #cbcbcb;
}

.scrollable-rows {
  overflow-y:scroll;
  height: 22em;
  table-layout: fixed;
  margin-right: -5px;
}

.engineer-container {
  text-align: center;
}

.engineer-container h1{
  color: white;
  font-size: 3em;
}

.engineer-form-entry {
  text-align: center !important;
  margin: 0 auto !important;
  margin-bottom: 1em !important;
}

.engineer-button {
  font-size: 150%;
}

.engineer-table {
  margin: 0 auto;
  margin-top: 2em;
  width: 80%;
}

.active-row:hover {
  background-color: #2D2D2D;
  color: white;
}

.mint-container {
  height: 60vh;
  background-color: #2D645D;
  text-align: center;
}

.mint-container h1{
  color: white;
  font-size: 3em;
}

.mint-form-entry {
  text-align: center !important;
  margin: 0 auto !important;
  margin-bottom: 1em !important;
}

.mint-button {
  font-size: 150%;
}

.transfer-container {
  height: 60vh;
  background-color: #BA3F3F;
  text-align: center;
}

.transfer-container h1{
  color: white;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.transfer-form-entry {
  text-align: center !important;
  margin: 0 auto !important;
  margin-bottom: 1em !important;
}

.marketplace h1 {
  text-align: center;
}

.deployed h1 {
  text-align: center;
}

.claims h1 {
  text-align: center;
}

.pending h1 {
  text-align: center;
}

.fileUpload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileUpload + label {
    font-weight: 700;
    color: white;
    background-color: #BA3F3F;
    cursor: pointer; /* "hand" cursor */
    padding: 0.5em 0 0.6em 0;
    width: 250px;
    margin: 15px auto 15px auto;
}

.fileUpload:focus + label,
.fileUpload + label:hover {
    background-color: red;
}

.tile {
  width: 200px;
  height: 200px;
  background: black;
  opacity: 0.7;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 10px;
}

.tile-title {
  padding-top: 25px;
  font-size: 2em;
}

.tile-body {
  padding-top: 60px;
  font-size: 8em;
}

.new-req-button {
  background: #37BF7B;
  font-size: 1.1em;
  width: 90%;
}

.search-box {
  font-size: 1em;
  padding: 5px 5px 10px 5px;
  width: 85%;
}

.search-button {
  background: #37BF7B;
  margin-top: 10px;
  width: 90%;
}

.search-zone {
  margin: 1em 0 1em 0;
}

.button-zone {
  margin: 1em 0 1em 0;
  text-align: center;
}

@media (min-width: 48em) {
  .button-zone {
    text-align: right;
  }

  .search-zone {
    text-align: center;
  }

  .search-box {
      width: 80%;
  }

  .search-button {
    width: auto;
    margin-left: 10px;
    margin-top: 0px;
  }

  .new-req-button {
    width: auto;
  }

  .requester-table {
    margin: 0 auto;
    margin-top: 1em;
    width: 90%;
    height: 50em;
    overflow: hidden;
    table-layout: fixed;
    /*display: table;*/
    text-align: left;
    border: 1px solid #cbcbcb;
  }

  .scrollable-rows {
    overflow-y:scroll;
    height: 46.5em;
    table-layout: fixed;
    margin-right: -15px;
  }

  .right-arrow:after {
    content: '\25B8'; /* Unicode character for "plus" sign (+) */
    font-size: 1.5em;
    color: #777;
    float: right;
    position: relative;
    right: -0.3em;
    top: -17em;
    margin-right: 0;
  }
}

.nopadding {
  padding: 0 !important;
}

.tableHeaders {
  background-color: #191818;
  color: #eeeeee;
  padding: 15px;
}

.detailedRow {
  border-bottom: 1px solid #cbcbcb;
}

.detailedColumn {
  display: inline-block;
}

.detailedColumnRight {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.accordian {
  background-color: #grey;
  color: #444;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  border: none;
  border-width: 0px;
  outline: none;
  transition: 0.4s;
}

.accordian.active, .accordian:hover {
    background-color: #ddd;
}

div.accordian-panel {
    padding: 15px;
    background-color: white;
    display: none;
}

.accordian-panel p {
  padding: 3px 0 3px 0;
  margin: 0;
}

.show {
  display: inline-block !important;
}

.accordian:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: left;
    margin-right: 10px;
}

.accordian.active:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}