/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 1em;
  background: white;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.pure-menu-children {
  background: #2D2D2D;
  color: white;
}

.pure-menu-children .pure-menu-item {
  padding-top: 10%;
  text-align: center;
}

.navbar a {
  color: #2D2D2D;
}

.pure-menu-children .pure-menu-item .pure-menu-link {
  color: white;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #2D2D2D;
  color: white
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.pull-right {
  float: right;
}

.App {
  padding-bottom: 10%;
}

.content {
  padding-top: 2em;
}

.sub-menu {
  background-color: #E0E0E0;
}

.home-container {
  height: 60vh;
  background-color: #232C42;
  background-image: url("../../public/diagmonds.png");
  text-align: center;
}

.home-container h1 {
  color: white;
  font-size: 2em;
}

.home-container h2 {
  color: white;
  font-size: 1em;
  margin-top: 1%;
}

.logo {
  padding-top: 2em;
  height: 50%;
}

.logo-holder {
  height: 100%;
  width: 100%;
}

.requester-container {
  height: 60vh;
  background-color: #2D2D2D;
  text-align: center;
}

.requester-container h1{
  color: white;
  font-size: 3em;
}

.requester-form-entry {
  text-align: center !important;
  margin: 0 auto !important;
  margin-bottom: 1em !important;
  color: black;
}

.requester-deploy-form-entry {
  text-align: center !important;
  color: black;
  height: 100%;
  margin-right: 1em;
}

.requester-deploy-button {
  height: 100%;
}

.requester-button {
  font-size: 150%;
}

.requester-table {
  margin: 0 auto;
  margin-top: 2em;
  width: 80%;
}

.engineer-container {
  height: 60vh;
  background-color: #2D2D2D;
  text-align: center;
}

.engineer-container h1{
  color: white;
  font-size: 3em;
}

.engineer-form-entry {
  text-align: center !important;
  margin: 0 auto !important;
  margin-bottom: 1em !important;
}

.engineer-button {
  font-size: 150%;
}

.engineer-table {
  margin: 0 auto;
  margin-top: 2em;
  width: 80%;
}

.active-row:hover {
  background-color: #2D2D2D;
  color: white;
}

.mint-container {
  height: 60vh;
  background-color: #2D645D;
  text-align: center;
}

.mint-container h1{
  color: white;
  font-size: 3em;
}

.mint-form-entry {
  text-align: center !important;
  margin: 0 auto !important;
  margin-bottom: 1em !important;
}

.mint-button {
  font-size: 150%;
}

.transfer-container {
  height: 60vh;
  background-color: #BA3F3F;
  text-align: center;
}

.transfer-container h1{
  color: white;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.transfer-form-entry {
  text-align: center !important;
  margin: 0 auto !important;
  margin-bottom: 1em !important;
}

.marketplace h1 {
  text-align: center;
}

.deployed h1 {
  text-align: center;
}

.claims h1 {
  text-align: center;
}

.pending h1 {
  text-align: center;
}