body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#App,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#App {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #App.active #menu {
        left: 200px;
        width: 200px;
    }

    #App.active .menu-link {
        left: 200px;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    line-height: 1.6em;
}

.header {
     z-index: 100;
     margin: 0;
     height: 1.5em;
     width: 100%;
     padding: 0.6em 0.6em 0.6em 4em;
     font-size: 110%;
     background: #191818;
     color: #999;
     position: fixed;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -200px; /* "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0.6em 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        /*border-top: 1px solid #333;*/
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #232C42;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        height: 1.5em;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
    z-index: 101;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }



.modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.62);
    padding-top: 4em;
}

.modal-button {
    border-radius: 10px;
}

.modal-top {
    text-align: right;
    padding: 10px;
    background-color: #191818;
    margin: -10px;
    margin-bottom: 40px;
    color: #eeeeee;
}

.modal-bottom {
    padding: 10px;
    background-color: #37BF7B;
    margin: -10px;
    margin-top: 43px;
    height: 60px;
    color: black;
}

.modal-exit {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-header {
    text-align: left;
    font-size: 1.5em;
}

.new-req-modal {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  background: #ccc;
  padding: 10px;
  border: 2px solid;
}

.new-req-modal:focus {
    outline: none;
}

.validate-modal {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 230px;
  background: #ccc;
  padding: 10px;
  border: 2px solid;
}

.validate-modal:focus {
    outline: none;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 50em) {

    .header {
         padding: 0.6em 0 0.6em 0.6em;
     }

    .header,
    .content {
/*        padding-left: 2em;
        padding-right: 2em*/;
    }

    #App {
        padding-left: 200px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 200px;
    }

    .menu-link {
        position: fixed;
        left: 200px;
        display: none;
    }

    #App.active .menu-link {
        left: 200px;
    }
    
    .modal-overlay {
        position: fixed;
        left: 200px;
        right: 0;
        top: 0;
        padding-top: 4em;
        bottom: 0;
    }
}

@media (max-width: 50em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #App.active {
        position: relative;
        left: 200px;
    }

    #menu.active {
        padding-left: 200px;
    }
}

.icon .fa-user-icon {
    padding-bottom: 10px;
}

.icon p {
    font-size:0.9em;
}

.pure-menu-subitems {
    display: none;
    background: #000;
    background: rgba(0,0,0,0.5);
}

.open {
    display: block;
}

.side-panel-accordian {
  background-color: #grey;
  color: #444;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.side-panel-accordian.active, .side-panel-accordian:hover {
    background-color: #333;
}

div.side-panel-accordian-panel {
    background-color: #565656;
    display: none;
    padding-left: 15px;
}

.side-panel-accordian-panel p {
  padding: 0;
  margin: 0;
}

.show {
  display: block !important;
}

.side-panel-accordian:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.side-panel-accordian.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}